{:deps {org.clojure/clojure {:mvn/version "1.11.0-alpha4"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
        com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.2"}}}
